<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
  <form action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="pass" required>
    <button type="submit">Iniciar Sesión</button>
</form>


    <% if (typeof mensaje !== 'undefined') { %>
        <p><%= mensaje %></p>
        <% if (redirigirRegistro) { %>
            <a href="/registro">Registrarse</a>
        <% } %>
    <% } %>
</body>
</html>
