<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<main>

    <header>
        <%- include("./template/nav.ejs");%>
    </header>

    <body>
        <div id="registro-container">
            <h1 id="registro-titulo">Registro</h1>
            <% if (typeof mensaje !== "undefined") { %>
                <p id="registro-mensaje"><%= mensaje %></p>
            <% } %>
    
            <form id="registro-form" action="/validar" method="post">
                <label for="registro-nombre">Nombre:</label>
                <input type="text" name="nom" id="registro-nombre" required> <br>
    
                <label for="registro-apellido">Apellido:</label>
                <input type="text" name="ape" id="registro-apellido" required> <br>
    
                <label for="registro-email">Email:</label>
                <input type="email" name="email" id="registro-email" required> <br>
    
                <label for="registro-password">Contraseña:</label>
                <input type="password" name="pass" id="registro-password" required> <br>
    
                <input type="submit" id="registro-submit" value="Registrar">
            </form>
    
            <p id="registro-link">
                ¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a>
            </p>
        </div>
    </body>
    

</main>
</html>
