<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1> registro</h1>

    <form action="/validar" method="post">
        Nombre:
        <input type="text" name="nom" id="nombre">  <br><br>

        Apellido:
        <input type="text" name="ape" id="apellido">  <br><br>

        Email:
        <input type="email" name="email" id="email">  <br><br>

        Contraseña:
        <input type="password" name="pass" id="password">  <br><br>

        <input type="submit" value="Registrar">

    </form>
</body>
</html>