<div class="header">
    <a href="http://localhost:3000/" class="logo">Baterias Ferrobat</a>
    <button id="btnToggle" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
      Dark
    </button>
    <button id="agregarBateria" data-bs-toggle="modal" data-bs-target="#modalAgregarBateria" class="btn btn-success" style="display: none;">Agregar Batería</button>

    <div class="header-right">
      <a  href="#marcas">Marcas</a>
      <a  href="http://localhost:3000/registro">registro</a>
      <a id="iniciarSesion" href="#">Iniciar Sesión</a>
      <a id="botonCarrito" data-bs-toggle="modal" data-bs-target="#modalAgregarCarrito" class="btn btn-secondary"><i class="fas fa-shopping-cart fa-1x"></i></a>
       
    </div>
  </div>