<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<main>

    <header>
        <%- include("./template/nav.ejs");%>
    </header>

<body>
    <h1> registro</h1>
    <% if(typeof mensaje !== "undefined") { %>
        <p> <%= mensaje %>; </p>
    <% } %>


    <form action="/validar" method="post">
        Nombre:
        <input type="text" name="nom" id="nombre" required>  <br><br>

        Apellido:
        <input type="text" name="ape" id="apellido" required>  <br><br>

        Email:
        <input type="email" name="email" id="email" required>  <br><br>

        Contraseña:
        <input type="password" name="pass" id="password" required>  <br><br>

        <input type="submit" value="Registrar">

    </form>
</body>

</main>
</html>