<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="./static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<title>Baterias Ferrobat</title>
<link rel="icon" type="image/png" href="favicon.ico">

<div class="header">
    <a href="http://localhost:3000/" class="logo">Baterias Ferrobat</a>
   <!-- <button id="btnToggle" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Dark
    </button>-->

    <!-- Mostrar el botón "Agregar Batería" solo si el usuario es admin -->
    <% if (usuario && usuario.perfil === "admin") { %>
        <button id="agregarBateria" data-bs-toggle="modal" data-bs-target="#modalAgregarBateria" class="btn btn-success">Agregar Batería</button>
        <button id="btn-actualizar-datos" class="btn btn-success">Actualizar</button>
        <script>
            document.getElementById('btn-actualizar-datos').addEventListener('click', () => {
                window.location.href = '/actualizar-stock';
            });
        </script>
    <% } %>

    <div class="header-right">
       

        <% if (usuario) { %>
            <span id="nombrenav">Bienvenido, <%= usuario.nombre.toUpperCase() %> <%= usuario.apellido.toUpperCase() %>!</span>
            <a href="/logout">Cerrar Sesión</a>
        <% } else { %>
            <a href="http://localhost:3000/registro">Registro</a>
            <a id="iniciarSesion" href="http://localhost:3000/login">Iniciar Sesión</a>
        <% } %>

        <a id="botonCarrito" data-bs-toggle="modal" data-bs-target="#modalAgregarCarrito" class="btn btn-secondary">
            <i class="fas fa-shopping-cart fa-1x"></i>
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.0.1/build/global/luxon.min.js"></script>
<script src="constructor.js"></script>
<script src="darkmode.js"></script>
<script src="funcionesdb.js"></script>
<script src="funcionesBaterias.js"></script>
